@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(180deg, #000000 0%, #213738 51.56%, #000000 100%) no-repeat center;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;

}


.title {
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
}

.navLink {
    text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-out;
}

.navLink:hover {
    transform: scale(1.1);
}

.captain-img {
    box-shadow: -4px 6px 10px 6px rgba(0, 0, 0, 0.5);
}
